body {
    background:lightslategray;
}











.footer{
    padding:3px;
    margin-top:10%;
    color:#ffffff;
    background-color:#4b4645;
    text-align: center;
    width: 100%;
    margin-bottom: auto;
    height: 70px;
   
}